/*Common things*/
body{
	font-size: 67.5%;
	font-family: "Smythe", cursive;
	background: url(poke-img/background1.jpg) no-repeat fixed top center;
	padding: 0;
	margin: 0;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
h1{
	color: orange;
	font-size: 2em;
}
h2{
	color: red;
	font-size: 1.7em;
}
p{
	color: yellow;
	font-size: 1.2em;
}
.contentWrapper{
	margin: 0 auto;
	max-width: 1170px
	padding 0 3em;
}
/*Header*/
header{
	padding: 0.5em;
	background: url(poke-img/munchlax.jpg) no-repeat right center;
}

/*Navigation*/
nav{
	color: #000;
	font-size: 1.7em;
	letter-spacing: 0.04em;
	padding: 1em 1em 0.5em;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 0;
}
nav li a, nav li a:visited{
	text-decoration: none;
	color: #d9b3ff;
	padding: 0.3em 0.6em;
}
nav li a:hover{
	color: #0066ff;
	background-color: transparent;
}
nav#utilityMenu{
	float: right;
	margin: -1em;
}
nav#utilityMenu li .acctNav{
	vertical-align: middle;
}
/*side bar*/
section#sidebar{
	width: 238px;
	float: right;
	position: relative;
	display: block;
	background-color: orange;
	margin: 1.5em 3em 2.0em 1.7em;
	padding: 1.7em 3em 2.0em 1.7em;
	border: blue solid 2px;
}
/*Top section*/

/*Mid section*/
/*Bottom section*/
/*Footer*/