 
/*Common Elements*/
body{
	font-size: 67.5%;
	font-family: Tahoma, Geneva, sans-serif;
	background: #80bfff url(poke-img/background1.jpg) repeat fixed top center;
	padding: 0;
	margin: 0;
	-webkit-background-size: 50% 50%;
	-moz-background-size: 50% 50%;
	background-size: 52% 100%;
	-o-background-size: 50% 50%;
}
h1{
	color: #9e28e8;
	font-size: 2.0em;
	margin: 0 0 .5em 0;
	padding: 0;
}
h2{
	color: #2fb5e8;
	font-size: 1.7em;
	padding: 0px;
	margin: 0.5em 0 0.35em 0;
}
p{
	font-size: 1.2em;
	line-height: 1.4em;
	color: #9312e4;
	padding: 0PX;
	margin: 0px 0.5em 0.75em 0px;
}
.contentWrapper{
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 3.0em;
}
.left{
	float: left;
}
.right{
	float: right;
}
/*Header*/
header{
	padding: 1.5em 0 0.5em;
	margin: 1px 0px 2.0em;
	background: #4d4dff url(poke-img/munchlax.jpg)  right -80px no-repeat;
}
header h1{
	font-family: "Times New Roman", Times, serif;
	color: #9443c7;
	font-size: 7.5em;
	letter-spacing: -0.025em;
	margin: 0;
	text-shadow: 0px -3px 0 #7d37bd;
}
header h2{
	font-weight: 300;
	font-size: 3.8em;
	color: #5f20de;
	margin: -0.4em 0 0 1.0em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

/*Nav Bars*/
nav{
	color: #bf80ff;
	font-size: 1.7em;
	letter-spacing: 0.04em;
	padding: 1.0em 1.0em 0.5em;
	margin: 1.0em 0;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 0;
}
nav li a, nav li a:visited{
	text-decoration: none;
	color: #bf80ff;
	padding: 0.3em 0.6em;
}
nav li a:hover{
	color: #27b9da;
	background-color: rgba(249, 243, 252, 0.2);
}
nav#utilityMenu{
	float: right;
	display: blockin;
	margin: -1.2em 0 0em 0;
	padding: .5em;
	background-color: #613c6f;
	height: 1.3em;
}
nav#utilityMenu li{
	padding: 0 0.25em 0 0.25em;
	vertical-align: middle;
}
nav#utility ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited{
	color: #1ec4d4;
	text-decoration: none;
	display: inline-block;
	height: 1.3em;
	padding: 0.5em;
	margin: -0.4em 0 0 0;
	font-size: 0.8em;
}
nav#utilityMenu ul li.accNav a.active{
	background-color: #22a4c6
}
nav#utilityMenu ul li.accNav a:hover {
	background-color: rgba(252, 251, 243, 0.7);
	color: #228ac6;
}
nav#utilityMenu li a, nav#utilityMenu li a:visited { padding: 0; }
nav#utilityMenu li a:hover { background-color: transparent; }
nav#utilityMenu ul li input#search {
	vertical-align: middle;
	margin: 0 0 0 1.0em;
}
nav#utilityMenu ul li.accNav::before, nav#utilityMenu ul li input#search::before {
	content: "| ";
	color: #FCFBE6;
}

/*Sidebar Section*/
section#sidebar {
	width: 238px;
	float: right;
	position: relative;
	display: inline-block;
	background-color: #fff;
	margin: 1.5em 0 3.0em 1.5em;
	padding: 1.7em 0.5em 2.0em 1.7em;
	border: #6600ff solid 5px;
}

/*Main Section*/
section #main {
	background-color: rgba(252, 251, 243, 0.7);
	margin: 0 0 5.0em;
	padding: 1.5em 0 2.0em 1.5em;
	display: inline-block;
	border-radius: 4em;
	box-shadow: 1px 1px 5px #777;
}
section div.panel{
	float: left;
	position: relative;
	width: 250px;
	margin: 0 0.5em 2.0em 0.5em;
	padding: 1.0em;
	background-color: #fff;
	border: #7130bd solid 4px;
	border-radius: 0.6em;
}
section div.panel img.cheeseType{
	width: 100%;
}
.sweet-container{
	display: inline-table;
	position: absolute;
	vertical-align: middle;
}
.container {
    width: 800px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.carousel-caption{
	width: 50%;
	height: 50%;
}
.carousel-inner {
    width: 50%;
    overflow: hidden;
    align-content: center;
}
/*clear*/
div.clear {
	clear: both;
	font-size: 1%;
}
/*Footer*/
footer{
	background-color:  #38283e;
	height: 25px;
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 2.5em 0em;
}
footer ul#menuFooter {
	display: inline-block;
	list-style: none;
	margin: 0 0 1em 0.6em;
	padding: 0;
} 
footer ul li {
	display: inline-block;
	padding: 0 0.7em 0 0;
	margin: 0;
}
footer ul li::before {
	content: "| ";
	padding-right: 0.7em;
}
footer a, footer a:visited {
	color: #fff;
	text-decoration: none;
}
footer a:hover {
	color: #55dee4;
	text-decoration: underline;
}
button {
	color: blue;
	background-color: #fff;
	display: inline-block;
	margin: 0 0.75em 0 0;
	padding: 0.2em 0.5em;
	border: 1px solid rgb(30, 188, 230);
	text-transform: uppercase;
}
button:hover {
	background-color: rgba(15, 177, 232, 0.5);
	border: 1px solid #20bcff;
}
